<nav class="container navbar">
    <h1 class="navbar__title">H.</h1>
    <div class="navbar__right">
        <ul class="navbar-categories">
            <li class="navbar-categories__item">
                <a href="" class="navbar-categories__link">Prices</a>
            </li>
            <li class="navbar-categories__item">
                <a href="" class="navbar-categories__link">Booking</a>
            </li>
            <li class="navbar-categories__item">
                <a href="" class="navbar-categories__link">Blog</a>
            </li>
            <li class="navbar-categories__item">
                <a href="" class="navbar-categories__link">Services</a>
            </li>
        </ul>
        <div class="navbar-function">
            <div class="navbar-search">
                <svg width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2885 16.4818C18.026 13.7443 18.026 9.30597 15.2885 6.56847C12.551 3.83097 8.11263 3.83097 5.37513 6.56847C2.63764 9.30597 2.63764 13.7443 5.37513 16.4818C8.11263 19.2193 12.551 19.2193 15.2885 16.4818Z" stroke="white" stroke-width="2"/>
                    <path d="M15.2885 16.4817L20.796 21.9891" stroke="white" stroke-width="2" stroke-linecap="round"/>
                    </svg>                    
            </div>
            <div class="navbar-language">
                <p class="navbar-language__text">US</p>
                <svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4 6L0 0L8 0L4 6Z" fill="white"/>
                    </svg>                    
            </div>
        </div>
    </div>
</nav>