<section class="section products scroll s-four" data-section-name="s-four">
    <h1 class="title title--md title--lg products__title">Recent Products</h1>
    <p class="description description--md products__description">Having used discount toner cartridges for twenty years, there have been a lot of changes in the toner cartridge market. The market today is approximately a twenty billion dollar business.</p>
    <ul class="products__list">
        <include src="./components/product.html"
            locals='{
                "image": "../assets/images/thumb.png",
                "product": "app maintenance",
                "name": "Lada Morrison, Nettie Burke"
            }'
        ></include>
        <include src="./components/product.html"
            locals='{
                "image": "../assets/images/thumb (1).png",
                "product": "FTA KEYS",
                "name": "Ivan Alexander, Steven Soto, Clifford Hammond"
            }'
        ></include>
        <include src="./components/product.html"
            locals='{
                "image": "../assets/images/thumb (2).png",
                "product": "SMART WATCH",
                "name": "Trevor James, Carl Stevenson"
            }'
        ></include>
        <include src="./components/product.html"
            locals='{
                "image": "../assets/images/thumb (3).png",
                "product": "WATCH APPS",
                "name": "Glen Snyder, Andrew Goodwin, Lida Morrison"
            }'
        ></include>
    </ul>
</section>