<div class="testimonials-item {{ theme }}" id="{{ id }}">
    <article class="testimonials-content">
        <h1 class="testimonials-item__comma">"</h1>
        <p class="testimonials-item__paragraph">{{ description }}</p>
        <h4 class="testimonials-item__name">{{ name }}</h4>
        <p class="testimonials-item__job">{{ job }}</p>
    </article>
    <div class="testimonials-item__overlay">

    </div>
    <figure class="testimonials-item__avatar">
        <img src="{{ avatar }}" alt="avatar">
    </figure>
</div>