<section class="testimonials">
    <h1 class="title testimonials__title">Testimonials</h1>
    <ul class="testimonials-list">
        <include
            src="./components/testimonials_item.html"
            locals='{
            "name": "Seneca the Younger",
            "description": "It is not because things are difficult that we do not dare; it is because we do not dare that they are difficult.",
            "job": "Editor in okodesign.net",
            "avatar": "../assets/images/person (2).png",
            "theme": "light"
            }'></include>
        <include
            src="./components/testimonials_item.html"
            locals='{
            "name": "Rachel Moreno",
            "description": "Attending a trade show can be a very effective method of promoting your company and its products.",
            "job": "Lead Designer in okodesign.net",
            "avatar": "../assets/images/person(1).png",
            "theme": "mg--top"
            }'></include>
    </ul>
    <ul class="dots testimonials-dot">
        <li class="dot dot--hidden"></li>
        <li class="dot dot--active"></li>
        <li class="dot"></li>
        <li class="dot"></li>
        <li class="dot dot--hidden"></li>
    </ul>
</section>

