// Font family
$roboto-ff: "Roboto";
$lucida-grande-ff: "Lucida Grande";

// Breakpoints
$small_device: 240px;   
$medium_device: 768px; 
$large_device: 1200px;
$extra_large_device: 1280px;
$double_extra_large_device: 1536px;