@use "../abstracts/" as *;
.header {
    min-width: 280px;
    @include bg-img("../assets/icons/Background.png");
    padding: 44px 42px 27px 40px;
    @include sm_device() {
        padding: 20px 10px;
    }
    @include md_device() {
        padding-top: 75px;
        padding-bottom: 0;
        padding-left: 86px;
        padding-right: 103px;
        min-width: 768px;
        position: relative;
    }
    @include lg_device() {
        min-width: 1024px;
        padding: 0;
        padding-top: 75px;
    }
    .header__container {
        box-sizing: border-box;
       
        @include md_device() {
            display: flex;
            justify-content: space-between;
            gap: 75;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        @include lg_device() {
            margin-top: 42px;
            gap: 133;
            padding-left: 50px;
            padding-right: 50px;
            align-items: end;
        }
        @include xl_device() {
            margin-top: 42px;
            gap: 133;
            padding-left: 98px;
            padding-right: 98px;
        }
        .header__device {
            display: none;
            @include md_device() {
                width: 220px;
                display: block;
            }
            @include lg_device() {
                width: 358px;
                display: block;
            }
            img {
                display: block;
                flex-shrink: 0;
                @include lg_device() {
                    flex-shrink: 0;
                }
            }
        }
        .header__content {
            max-width: 100%;
            @include md_device() {
                width: 283.64px;
            }
            @include lg_device() {
                min-width: 459px;
                flex-shrink: 0;
            }

            .header__sub-title {
                @include text-default();
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.0444444em;
                text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
                color: #ffffff;
                margin-bottom: 15px;
                @include md_device() {
                    line-height: 16px;
                    letter-spacing: 0.0832079em;
                    margin-bottom: 16px;
                }
                @include lg_device() {
                    font-size: 18px;
                    line-height: 21px;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
                    margin-bottom: 20px;
                }
            }
            .header__title {
                @include text-default();
                font-size: 32px;
                line-height: 38px;
                letter-spacing: 0.03125em;
                color: #ebcb80;
                text-transform: uppercase;
                margin-bottom: 12px;
                @include md_device() {
                    font-size: 36px;
                    line-height: 42px;
                    letter-spacing: 0.0554719em;
                    margin-bottom: 11px;
                    margin-top: 59px;
                }
                @include lg_device() {
                    font-size: 64px;
                    line-height: 75px;
                    letter-spacing: 0.03125em;
                    margin-top: 151px;
                    margin-bottom: 30px;
                }
            }
            .header__text {
                @include text-default();
                font-size: 11px;
                line-height: 16px;
                color: #ffffff;
                @include md_device() {
                    margin-bottom: 38px;
                }
                @include lg_device() {
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 99px;
                }
            }
            .header__img {
                min-width: 225px;
                margin-top: 14px;
                margin-bottom: 16px;
                @include md_device() {
                    display: none;
                }
            }
            .header-app-store {
                display: flex;
                gap: 7.5;
                align-items: center;
                justify-content: center;
                padding-bottom: 0;
                @include md_device() {
                    justify-content: left;
                    gap: 14.08;
                    padding-bottom: 30px;
                }
                @include lg_device() {
                    justify-content: left;
                    gap: 14.08;
                    padding-bottom: 60px;
                }
                &__item {
                    width: 67.5px;
                    @include md_device() {
                        width: 71.91px;
                    }
                    @include lg_device() {
                        width: 135px;
                    }
                }
            }
        }
    }
}
