<footer class="footer">
    <ul class="footer-categories">
        <include
            src="./components/footer_category.html"
            locals='{
            "title": "Company",
            "categories": "[`News`, ` Blog`, `Testimonials`, `About Us`, `Press Kit`, `Get in Touch`]"
            }'></include>
        <include
            src="./components/footer_category.html"
            locals='{
            "title": "Products",
            "categories": "[`UI Kits`, `Icons`, `Wordpress Themes`, `Mock-Ups`]"
            }'></include>
        <include
            src="./components/footer_category.html"
            locals='{
            "title": "Support",
            "categories": "[`Community`, `Forum`, `Distributors`, `Privacy Policy`, `Terms of Use`]"
            }'></include>
        <include
            src="./components/footer_category.html"
            locals='{
            "title": "Customers",
            "categories": "[`Documentation`, ` Tools`, `Downloads`, `Downloads`,`Developer Center`]"
            }'></include>
    </ul>
    <div class="footer__line"></div>
    <div class="footer__final">
        
                                                
                                                <ul class="footer-media">
                                                    <li class="footer-media__item">
                                                        <a href="">
                                                            <svg width="19" height="17" viewBox="0 0 19 17" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <mask id="mask0_0_2573" style="mask-type:luminance"
                                                                    maskUnits="userSpaceOnUse" x="0" y="0" width="18"
                                                                    height="17">
                                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                                        d="M0.491699
                                                                        16.5612H17.5272V0H0.491699V16.5612Z"
                                                                        fill="white"/>
                                                                    </mask>
                                                                    <g mask="url(#mask0_0_2573)">
                                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                                            d="M15.0086 14.1355H12.4825V10.2856C12.4825
                                                                            9.36765 12.4659 8.18662 11.1693
                                                                            8.18662C9.85471
                                                                            8.18662 9.65406 9.18702 9.65406
                                                                            10.2201V14.1355H7.13037V6.21901H9.55232V7.30142H9.58686C9.9238
                                                                            6.67888 10.7486 6.02271 11.9781
                                                                            6.02271C14.5358
                                                                            6.02271 15.0086 7.66177 15.0086
                                                                            9.79389V14.1355ZM4.28148 5.13743C3.46991
                                                                            5.13743
                                                                            2.81592 4.4983 2.81592 3.71033C2.81592
                                                                            2.92282
                                                                            3.46991 2.28369 4.28148 2.28369C5.08975
                                                                            2.28369
                                                                            5.7461 2.92282 5.7461 3.71033C5.7461 4.4983
                                                                            5.08975 5.13743 4.28148 5.13743ZM3.01611
                                                                            14.1355H5.54501V6.21899H3.01611V14.1355ZM16.267
                                                                            0H1.74857C1.05531 0 0.491699 0.53545
                                                                            0.491699
                                                                            1.19624V15.3916C0.491699 16.0524 1.05531
                                                                            16.5888
                                                                            1.74857 16.5888H16.267C16.9622 16.5888
                                                                            17.5272
                                                                            16.0524 17.5272 15.3916V1.19624C17.5272
                                                                            0.53545
                                                                            16.9622 0 16.267 0Z" fill="#EBCB80"/>
                                                                        </g>
                                                                    </svg>
                                        
                                                                </a>
                                                            </li>
                                                            <li class="footer-media__item">
                                                                <a href="">
                                                                    <svg width="26" height="16" viewBox="0 0 26 16"
                                                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                                            d="M7.75555 6.77771V9.48879H12.1458C11.9688
                                                                            10.6523 10.8187 12.9002 7.75555
                                                                            12.9002C5.11259
                                                                            12.9002 2.95619 10.6636 2.95619
                                                                            7.90733C2.95619
                                                                            5.15106 5.11259 2.91442 7.75555
                                                                            2.91442C9.2595
                                                                            2.91442 10.2658 3.56959 10.8409
                                                                            4.1344L12.942
                                                                            2.0672C11.5928 0.779437 9.8456 0 7.75555
                                                                            0C3.47594 0 0.0146484 3.53571 0.0146484
                                                                            7.90733C0.0146484 12.279 3.47594 15.8147
                                                                            7.75555
                                                                            15.8147C12.2232 15.8147 15.1868 12.6065
                                                                            15.1868
                                                                            8.08807C15.1868 7.56844 15.1315 7.17308
                                                                            15.0652
                                                                            6.77771H7.75555Z" fill="#EBCB80"/>
                                                                            <path fill-rule="evenodd"
                                                                                clip-rule="evenodd"
                                                                                d="M24.3431
                                                                                6.77779H22.1314V4.51855H19.9197V6.77779H17.708V9.03703H19.9197V11.2963H22.1314V9.03703H24.3431"
                                                                                fill="#EBCB80"/>
                                                                            </svg>
                                        
                                        
                                                                        </a>
                                                                    </li>
                                                                    <li class="footer-media__item">
                                                                        <a href="">
                                                                            <svg width="22" height="18" viewBox="0 0 22
                                                                                18"
                                                                                fill="none"
                                                                                xmlns="http://www.w3.org/2000/svg">
                                                                                <mask id="mask0_0_2557"
                                                                                    style="mask-type:luminance"
                                                                                    maskUnits="userSpaceOnUse" x="0"
                                                                                    y="0"
                                                                                    width="22" height="18">
                                                                                    <path fill-rule="evenodd"
                                                                                        clip-rule="evenodd" d="M0.862793
                                                                                        17.2754H21.1575V0.752197H0.862793V17.2754Z"
                                                                                        fill="white"/>
                                                                                    </mask>
                                                                                    <g mask="url(#mask0_0_2557)">
                                                                                        <path fill-rule="evenodd"
                                                                                            clip-rule="evenodd"
                                                                                            d="M21.1576
                                                                                            2.70871C20.4107 3.04056
                                                                                            19.608
                                                                                            3.26484 18.7656
                                                                                            3.36571C19.6255
                                                                                            2.8493 20.2858 2.03162
                                                                                            20.5967
                                                                                            1.05734C19.7921 1.53544
                                                                                            18.9008
                                                                                            1.88269 17.9522
                                                                                            2.06985C17.1925
                                                                                            1.25894 16.1101 0.752197
                                                                                            14.9123
                                                                                            0.752197C12.6123 0.752197
                                                                                            10.7476 2.62033 10.7476
                                                                                            4.92454C10.7476 5.25156
                                                                                            10.7845
                                                                                            5.57002 10.8555
                                                                                            5.87538C7.39424
                                                                                            5.70139 4.32557 4.04028
                                                                                            2.27152
                                                                                            1.51595C1.91304 2.13219
                                                                                            1.70767
                                                                                            2.84893 1.70767
                                                                                            3.61358C1.70767
                                                                                            5.06112 2.44296 6.33823
                                                                                            3.56042
                                                                                            7.08644C2.8777 7.06479
                                                                                            2.23558
                                                                                            6.87711 1.67403
                                                                                            6.5646C1.67374
                                                                                            6.58201 1.67374 6.59949
                                                                                            1.67374
                                                                                            6.61704C1.67374 8.63865
                                                                                            3.10928
                                                                                            10.3251 5.01446
                                                                                            10.7083C4.66496
                                                                                            10.8037 4.29706 10.8546
                                                                                            3.91719
                                                                                            10.8546C3.64886 10.8546
                                                                                            3.38794
                                                                                            10.8285 3.13371
                                                                                            10.7798C3.66363
                                                                                            12.4375 5.20164 13.6438
                                                                                            7.02403
                                                                                            13.6775C5.59873 14.7965
                                                                                            3.803
                                                                                            15.4636 1.85186
                                                                                            15.4636C1.51573
                                                                                            15.4636 1.18421 15.4438
                                                                                            0.858398
                                                                                            15.4053C2.70143 16.5891
                                                                                            4.89053
                                                                                            17.2799 7.2424
                                                                                            17.2799C14.9026
                                                                                            17.2799 19.0915 10.922
                                                                                            19.0915
                                                                                            5.40837C19.0915 5.22745
                                                                                            19.0875
                                                                                            5.04751 19.0795
                                                                                            4.8686C19.8931
                                                                                            4.28033 20.5992 3.54544
                                                                                            21.1576
                                                                                            2.70871Z" fill="#EBCB80"/>
                                                                                        </g>
                                                                                    </svg>
                                        
                                        
                                                                                </a>
                                                                            </li>
                                                                            <li class="footer-media__item">
                                                                                <a href="">
                                                                                    <svg width="18" height="18"
                                                                                        viewBox="0 0
                                                                                        18 18" fill="none"
                                                                                        xmlns="http://www.w3.org/2000/svg">
                                                                                        <mask id="mask0_0_2560"
                                                                                            style="mask-type:luminance"
                                                                                            maskUnits="userSpaceOnUse"
                                                                                            x="0"
                                                                                            y="0" width="18"
                                                                                            height="18">
                                                                                            <path fill-rule="evenodd"
                                                                                                clip-rule="evenodd"
                                                                                                d="M0.902832
                                                                                                17.2734H17.454V0.691162H0.902832V17.2734Z"
                                                                                                fill="white"/>
                                                                                            </mask>
                                                                                            <g
                                                                                                mask="url(#mask0_0_2560)">
                                                                                                <path
                                                                                                    fill-rule="evenodd"
                                                                                                    clip-rule="evenodd"
                                                                                                    d="M16.5405
                                                                                                    0.691162H1.8163C1.31175
                                                                                                    0.691162 0.902832
                                                                                                    1.10085 0.902832
                                                                                                    1.60634V16.3582C0.902832
                                                                                                    16.8636 1.31175
                                                                                                    17.2734
                                                                                                    1.8163
                                                                                                    17.2734H9.74335V10.8519H7.58638V8.34929H9.74335V6.5037C9.74335
                                                                                                    4.36195 11.049
                                                                                                    3.1957
                                                                                                    12.956
                                                                                                    3.1957C13.8696
                                                                                                    3.1957 14.6547
                                                                                                    3.26379
                                                                                                    14.8834
                                                                                                    3.29424V5.53254L13.5608
                                                                                                    5.53317C12.5237
                                                                                                    5.53317
                                                                                                    12.3228 6.02692
                                                                                                    12.3228
                                                                                                    6.75148V8.34929H14.7964L14.4743
                                                                                                    10.8519H12.3228V17.2734H16.5405C17.045
                                                                                                    17.2734 17.454
                                                                                                    16.8636
                                                                                                    17.454
                                                                                                    16.3582V1.60634C17.454
                                                                                                    1.10085 17.045
                                                                                                    0.691162
                                                                                                    16.5405 0.691162Z"
                                                                                                    fill="#EBCB80"/>
                                                                                                </g>
                                                                                            </svg>
                                        
                                        
                                                                                        </a>
                                                                                    </li>
                                                                                    <li class="footer-media__item">
                                                                                        <a href="">
                                                                                            <svg width="18" height="18"
                                                                                                viewBox="0 0 18 18"
                                                                                                fill="none"
                                                                                                xmlns="http://www.w3.org/2000/svg">
                                                                                                <mask id="mask0_0_2563"
                                                                                                    style="mask-type:luminance"
                                                                                                    maskUnits="userSpaceOnUse"
                                                                                                    x="0" y="0"
                                                                                                    width="17"
                                                                                                    height="18">
                                                                                                    <path
                                                                                                        fill-rule="evenodd"
                                                                                                        clip-rule="evenodd"
                                                                                                        d="M0.134766
                                                                                                        17.2765H16.6925V0.691162H0.134766V17.2765Z"
                                                                                                        fill="white"/>
                                                                                                    </mask>
                                                                                                    <g
                                                                                                        mask="url(#mask0_0_2563)">
                                                                                                        <path
                                                                                                            fill-rule="evenodd"
                                                                                                            clip-rule="evenodd"
                                                                                                            d="M14.8529
                                                                                                            5.29922C14.8529
                                                                                                            5.5537
                                                                                                            14.6469
                                                                                                            5.76002
                                                                                                            14.3929
                                                                                                            5.76002H12.0932C11.8392
                                                                                                            5.76002
                                                                                                            11.6333
                                                                                                            5.5537
                                                                                                            11.6333
                                                                                                            5.29922V2.99522C11.6333
                                                                                                            2.74075
                                                                                                            11.8392
                                                                                                            2.53442
                                                                                                            12.0932
                                                                                                            2.53442H14.3929C14.6469
                                                                                                            2.53442
                                                                                                            14.8529
                                                                                                            2.74075
                                                                                                            14.8529
                                                                                                            2.99522V5.29922ZM14.8528
                                                                                                            14.9761C14.8528
                                                                                                            15.2305
                                                                                                            14.6469
                                                                                                            15.4369
                                                                                                            14.3929
                                                                                                            15.4369H2.43455C2.18055
                                                                                                            15.4369
                                                                                                            1.97461
                                                                                                            15.2305
                                                                                                            1.97461
                                                                                                            14.9761V7.60327H3.54495C3.42088
                                                                                                            8.0427
                                                                                                            3.35442
                                                                                                            8.50644
                                                                                                            3.35442
                                                                                                            8.98567C3.35442
                                                                                                            11.7851
                                                                                                            5.61955
                                                                                                            14.0545
                                                                                                            8.41372
                                                                                                            14.0545C11.2079
                                                                                                            14.0545
                                                                                                            13.473
                                                                                                            11.7851
                                                                                                            13.473
                                                                                                            8.98567C13.473
                                                                                                            8.50644
                                                                                                            13.4066
                                                                                                            8.0427
                                                                                                            13.2825
                                                                                                            7.60327H14.8528V14.9761ZM8.4134
                                                                                                            5.76001C10.1915
                                                                                                            5.76001
                                                                                                            11.633
                                                                                                            7.20416
                                                                                                            11.633
                                                                                                            8.98561C11.633
                                                                                                            10.7671
                                                                                                            10.1915
                                                                                                            12.2112
                                                                                                            8.4134
                                                                                                            12.2112C6.63529
                                                                                                            12.2112
                                                                                                            5.19385
                                                                                                            10.7671
                                                                                                            5.19385
                                                                                                            8.98561C5.19385
                                                                                                            7.20416
                                                                                                            6.63529
                                                                                                            5.76001
                                                                                                            8.4134
                                                                                                            5.76001ZM14.3928
                                                                                                            0.691162H2.43445C1.16439
                                                                                                            0.691162
                                                                                                            0.134766
                                                                                                            1.72272
                                                                                                            0.134766
                                                                                                            2.99516V14.976C0.134766
                                                                                                            16.2484
                                                                                                            1.16439
                                                                                                            17.28
                                                                                                            2.43445
                                                                                                            17.28H14.3928C15.6629
                                                                                                            17.28
                                                                                                            16.6925
                                                                                                            16.2484
                                                                                                            16.6925
                                                                                                            14.976V2.99516C16.6925
                                                                                                            1.72272
                                                                                                            15.6629
                                                                                                            0.691162
                                                                                                            14.3928
                                                                                                            0.691162Z"
                                                                                                            fill="#EBCB80"/>
                                                                                                        </g>
                                                                                                    </svg>
                                        
                                        
                                                                                                </a>
                                                                                            </li>
                                                                                                                       </ul>
                                                                                                                       <article
                                                                                            class="footer-copyright">
                                                                                            <p>© 2016 Hofmann UI Kit</p>
                                                                                            <p>Created by Goldenfox —
                                                                                                okodesign.net</p>
                                                                                        </article>
                                            </div>
                                        </footer>