<header class="section scroll s-one header" data-section-name="s-one">
    <include
        src="./components/navbar.html"    
    >
    </include>
    <section class="header__container container">
        <article class="header__content">
            <h5 class="header__sub-title uppercase">Responsive ui kit</h5>
            <h1 class="header__title">Hofmann</h1>
            <h5 class="header__sub-title">We're Bring It To The New Level</h5>
            <p class="header__text">
                Every new computer that’s brought home from the store has an
                operating system installed onto it. But what most new computer users
                don’t realize, is that without an operating system, that computer
                would be a simple shell of possibilities.
            </p>
            <figure class="header__img">
                <img src="../assets/images/iPhone.png" alt="header__image">
            </figure>
            <div class="header-app-store">
                <figure class="header-app-store__item">
                    <img src="../assets/images/appstore-badge.png" alt="app store">
                </figure>
                <figure class="header-app-store__item">
                    <img src="../assets/images/google-play-badge.png" alt="google
                        play">
                </figure>
            </div>
        </article>
        <figure class="header__device">
            <img src="../assets/images/iPhoneApp.png" alt="header__image">
        </figure>
    </section>
</header>